<div>
    <ul>
        <li>First Name: {{user.firstName}}</li>
        <li>Last Name: {{user.lastName}}</li>
        <li>Date of Birth: {{user.dateOfBirth}}</li>
        <li>Email: {{user.email}}</li>
        <li>Role: {{user.role}}</li>
    </ul>
</div>