<div>
    <h1>
        {{title}}
    </h1>
</div>
<div class="container">

    <table id="tableProduct">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Code</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Description</th>
                <th>Status</th>
                <th>Owner</th>
            </tr>
        </thead>
        {{#each products}}
            <tbody>
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.owner}}</td>
                </tr>
            </tbody>
        {{/each}}
    </table>

</div>
<div>
    <div>
        <form id="formDelete">
            <h3>Delete Product</h3>
            <input type="text" required id="deleteProd" name="deleteProd" placeholder="Enter product ID" />
            <input type="submit" value="Delete" />
        </form>
    </div>
    <div>
        <form id="addProduct">
            <h3>Add Product</h3>
            <input type="text" required id="title" name="title" placeholder="Enter product name" />
            <input type="number" required id="price" name="price" placeholder="Enter product price" />
            <input type="text" required id="code" name="code" placeholder="Enter product code" />
            <input type="number" required id="stock" name="stock" placeholder="Enter product stock" />
            <input type="text" required id="category" name="category" placeholder="Enter product category" />
            <input type="text" required id="description" name="description" placeholder="Enter product description" />
            <label>
                <input type="checkbox" name="status" id="status" value="true" />
                Status
            </label>
            <input type="file" name="thumbnail" id="thumbnail" placeholder="Upload image" /><br />
            <input type="submit" value="Add Product" />
        </form>
    </div>
</div>
